.InfoPanel {
  background-color: rgba(100, 200, 300, 0.9);
  width: 25vw;
  position: fixed;
  right: 2vh;
  top: 2vh;

  border: solid gray 0.6vh;
  border-radius: 0.5vh;

  padding: 1vh;
}

.InfoHeader {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 160, 260, 0.7);
  font-family: "Times New Roman", Georgia, serif;
  font-size: 3.5vh;
}

.InfoBody {
  margin-top: 2vh;
  font-size: 1.2vh;
}

.InfoKey {
  font-weight: bold;
  width: 8vw;
}

.InfoFlag {
  float: right;
}