.InfoPanel {
  background-color: rgba(100, 200, 300, 0.9);
  width: 25%;
  position: fixed;
  left: 20px;
  top: 20px;

  border: solid gray 6px;
  border-radius: 5px;

  padding: 10px;
}

.InfoHeader {
  background-color: rgba(60, 160, 260, 0.7);
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 2em;
  vertical-align: middle;
  line-height: 100px;
  width: 100%;
  height: 20%;

}

.InfoBody {
  margin-top: 20px;
}

.InfoKey {
  font-weight: bold;
}

.InfoFlag {
  float: right;
}